.moreInfo {
    padding: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: var(--mainSyntaxColor);
}

.moreInfoHeader {
    text-align: center;
}

.moreInfoHeader > span {
    font-size: 24px;
    font-weight: 700;
}

.infoContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    
}

.infoSection {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

.value {
    font-size: 18px;
}

.tile {
    height: 100px;
    width: 49%;
    background-color: #282828;
    border-radius: 10px;
    -webkit-box-shadow: 6px 2px 22px 1px rgba(0,0,0,1);
    -moz-box-shadow: 6px 2px 22px 1px rgba(0,0,0,1);
    box-shadow: 6px 2px 22px 1px rgba(0,0,0,1);
}

