.moreInfo {
    padding: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: var(--mainSyntaxColor);
}

.moreInfoHeader {
    text-align: center;
}

.moreInfoHeader > span {
    font-size: 24px;
    font-weight: 700;
}

.infoContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.infoSection {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
}

.value {
    font-size: 18px;
}

