:root {
    --navbarHeight: 79px;
    --mainBodyColor:  #3e3e3e;
    --mainSyntaxColor: #e88c20;
    --secondaryBodyColor: #282828;
    --btnWidth: 34.125rem;
}

.MainApp {
    background-color: var(--mainBodyColor);
    height: 100vh;
    overflow: hidden;
}

.appBody {
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: var(--mainBodyColor);
}
  