.row {
    display: flex;
    flex-direction: row;
}

.homeContainer {
    padding-top: 20px;
}

.logo {
    height: 150px;
}

.guildName {
    text-align: center;
    color: #e88c20;
    background-color: #282828;
    width: 100%;
    font-size: 135px;
    font-family: 'Courier New', Courier, monospace;
}

.spec {
    padding: 0px 8px
}

.class {
    transform: translateY(-10px);
}

.recruitment {
    width: 300px;
    margin-right: 1vw;
    background-color: #282828;
    padding: 15px 5px 0px 5px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,1);
}

.detail {
    width: 70vw;
}

.fiftyperc {
    width: 50%;
}

.background {
    background-color: #282828;;
}

.killpics {
    margin-top: 10px;
    width: 100%;
}