
.row {
    display: flex;
    flex-direction: row;
}

.homeContainer {
    padding-top: 1.25rem;
}

.logo {
    margin-left: 15px;
    height: 150px;
    border-top-left-radius: 15px;
}

.guildName {
    text-align: center;
    color: #e88c20;
    background-color: #282828;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    font-size: 135px;
    font-family: 'Courier New', Courier, monospace;
}

.spec {
    padding: 0px 8px
}

.class {
    transform: translateY(-10px);
}

.recruitment {
    width: 300px;
    margin-right: 1vw;
    background-color: #282828;
    padding: 15px 5px 0px 5px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,1);
}

.detail {
    width: 70vw;
}

.fiftyperc {
    width: 50%;
}

h3 {
    color: #e88c20;
}

.background {
    background-color: #282828;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.killpics {
    margin-top: 10px;
    width: 100%;
    border-radius: 15px;
}

.guildinfo {
    width: 100%;
}

.headerRow {
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,1);
    border-radius: 15px;
}

@media (max-width: 48rem) {
    body {
        background-color: orange;
    }

    .recruitment {
        display: none;
    }

    .row {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .detail {
        width: 100vw;
    }

    .homeContainer {
        overflow-y: scroll;
        height: calc(100vh - 5.75rem);
    }

    .headerRow {
        display: none;
    }

    .homeContainer {
        padding: 0;
    }

    .fiftyperc {
        padding: 1vw 5vw;
        width: 90vw;
    }

    .progress {
        padding-bottom: 1rem;
    }

    .killpics {
        margin-top: 10px;
        width: 100%;
        border-radius: 8px;
    }
}