.row {
    display: flex;
    flex-direction: row;
}

.homeContainer {
    padding-top: 20px;
}

.logo {
    height: 100px;
}

.guildName {
    text-align: center;
    color: #e88c20
}

.spec {
    padding: 0px 8px
}

.class {
    transform: translateY(-10px);
}
