.commentContainer {
    display: flex;
    flex-flow: column;
    width: 95%;
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #e88c20;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 1rem auto;
}

.comment {
    display: flex;
    padding: 10px;
    
}

.imgContainer{
    margin-right: 25px;
}

.avatar {
    border: 1px solid #e88c20;
    height: 64px;
    width: 64px;
}
