.row {
    display: flex;
    flex-direction: row;
}

.fetchPlayer {
    margin-left: 20px;
}

.classData {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.container {
    margin-top: 20px;
}

textarea {
    width: 400px;
    height: 50px;
    resize: none;
}