input, textarea {
    padding: 6px;
    border-radius: 5px;
    background-color: #585858;
    color: #e88c20;
}

.fetchButton, .applyButton {
    border-radius: 4px;
    padding: 6px;
    width: 150px;
}

label {
    color: #e88c20;
}

p {
    color: #e88c20;
}

button {
    color: #e88c20;
    background-color: #282828;
}

.classData {
    color: #e88c20;
}

.alwaysRow {
    display: flex;
    flex-direction: row;
}

.marginLeft10 {
    margin-left: 10px;
}

.paddingBot {
    padding-bottom: 10px;
}

@media (min-width: 969px) {
    .baseContainer {
        display: flex;
        justify-content: center;
        align-items: center;     
    }
    
    .applyHeader {
        text-align: center;
        color: #e88c20;
    }

    .row {
        display: flex;
        flex-direction: row;
    }
    
    .recruitment {
        background-color: #282828;
        padding: 25px 10px 0px 25px;
        border-radius: 15px;
        -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,1);
        -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,1);
        box-shadow: 10px 10px 5px -6px rgba(0,0,0,1);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    
    .applyButton {
        margin-top: 10px;    
    }
    
    textarea {
        resize: none;
        width: 300px;
        height: 60px;
    }
    
    button:hover {
        background-color: #383838;
        cursor: pointer;
    }
    
    .formContainer {
        padding-right: 100px;
        display: flex;
        align-items: flex-end;
    }
    
    .applyHeaderContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    
    .classData {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .fetchPlayer {
        margin-left: 20px;
    }
    
    .container {
        margin-top: 20px;
    }
    
    .form {
        padding-top: 30px;
    }
}



@media (max-width: 969px) {
    .recruitment {
        display: none;
    }

    textarea {
        resize: none;
        width: 175px;
        height: 60px;
    }

    .baseContainer {
        overflow-y: scroll;
        max-height: calc(100vh - 80px);
    }
}