:root {
    --emptySectionWidth: 200px;
}
.detail {
    color: var(--mainSyntaxColor);
    padding: 25px;
    height: var(--detailContainerHeight);
}

.detailHeader {
    text-align: center;
}

.detailHeader > span {
    font-size: 24px;
    font-weight: 700;
}

.detailContainer {
    width: 100%;
    display: flex;
    text-align: center;
}

.label {
    text-align: right;
    margin: 5px 20px 0px 0px;
    font-size: 18px;
    font-weight: 600;
    width: 50%;
    overflow-wrap: break-word;
}

.botLabel {
    margin: 5px 20px 0px 0px;
    font-size: 18px;
    font-weight: 600;
    overflow-wrap: break-word;
}

.sepperator {
    text-align: left;
}

.value {
    text-align: left;
    width: 50%;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow-wrap: break-word;
}
.fieldLeft {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.fieldRight {
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
}

.fieldBottom {
    margin-top: 5px;
    display: flex;
}

.fieldNameServer {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.emptySection {
    width: var(--emptySectionWidth);
}

.section {
    width: calc((100% - var(--emptySectionWidth / 2) ) /  2);
}

.botSection {
    margin-top: 30px;
}

