:root {
    --mainPadding: 50px;
    --heightOffset: calc(var(--navbarHeight) + var(--mainPadding));
    --detailAndInfoHeight: 300px;
}
.mainContainer {
    padding: var(--mainPadding);
    height: calc(100vh - var(--heightOffset));
    display: flex;
    flex-flow: column;
    
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailContainer {
    height: var(--detailAndInfoHeight);
    margin-bottom: 20px;
}

.infoContainer {
    height: var(--detailAndInfoHeight);
}

