:root {
    --mainPadding: 50px;
    --heightOffset: calc(var(--navbarHeight) + var(--mainPadding));
    --detailContainerHeight: 210px;
    --detailContainerHeight: 210px;
    --infoContinerHeight: 160px;
}
.mainContainer {
    padding: var(--mainPadding);
    height: calc(80vh);
    display: flex;
    flex-flow: column;
    overflow-y: scroll;   
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailContainer {
    display: flex;
    flex-flow: column;
    background-color: var(--secondaryBodyColor);
    -webkit-box-shadow: 6px 2px 22px 1px rgba(0,0,0,1);
    -moz-box-shadow: 6px 2px 22px 1px rgba(0,0,0,1);
    box-shadow: 6px 2px 22px 1px rgba(0,0,0,1);
    border-radius: 15px;
    margin-bottom: 25px;
}

.commentContainer {
    background-color: var(--secondaryBodyColor);
    color: var(--mainSyntaxColor);
    -webkit-box-shadow: 6px 2px 22px 1px rgba(0,0,0,1);
    -moz-box-shadow: 6px 2px 22px 1px rgba(0,0,0,1);
    box-shadow: 6px 2px 22px 1px rgba(0,0,0,1);
    border-radius: 15px;
}

