.modal {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background:  #282828;
    width: 25%;
    height: 50vh;
}

.close {
    stroke: #e88c20;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 5;
}

.logo {
    z-index: 101;
}