.inputContainer {
    display: flex;
    width: 95%;
    padding: 25px;
    margin: 0 auto;
}

.inputArea {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.inputArea input {
    height: 50px;
    width: 65%;
    overflow-y: scroll;
}

.submitButton button {
    border: 1px solid #e88c20;
    border-radius: 5px;
    padding: 15px;

}
.submitButton {
    width: 45%;
    display: flex;
    justify-content: center;
}

.submitButton .deleteBtn {
    margin-left: 2rem;
    font-weight: bold;
    font-size: 0.9rem;
    width: 30%;
    background-color: #ff0040ad;
}

.commentBtn {
    margin-left: 2rem;
    font-weight: bold;
    font-size: 0.9rem;
    width: 30%;
}

.approveBtn {
    background-color: #ce7917;
    color: #282828;
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 4rem;
    padding: 0 2rem !important;
    border: 1px solid rgb(100, 98, 98);
    width: 30%;
}

.deleteBtn {
    width: 30%;
}

.approveBtn:hover,
.approveBtn::selection {
    background-color: #282828;
    color: #e88c20;
    border: 1px solid rgb(100, 98, 98) !important;
}

.deleteBtn:hover,
.deleteBtn::selection {
    background-color: #282828;
    color: #e88c20;
    border: 1px solid rgb(100, 98, 98) !important;
}