.baseContainer {
    background-color: #282828;
}

.NavigationBackground {
    display: flex;
    width: 100%;
    justify-content: center;

}

.Tile {
    height: 100%;
    width: 100px;
    border-left: 1px solid #e88c20;
    border-right: 1px solid #e88c20;
    color: #e88c20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 0.5rem;
}

a {
    text-decoration: none;
}

.Tile:hover, .Tile::selection {
    background-color: var(--tileBackgroundColorHover);
}
.Tile > a {
    color: #e88c20;
    text-decoration: none;
}

.Tiles {
    display: flex;
    flex-direction: row;
}

.logo {
    margin-right: 10px;
}

.deskLogo {
    margin-right: 10px;
}

.mobileLogo {
    display: none;
}

.navbar {
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
}

.mobileGuildName {
    display: none;
}

.HighlightedTile {
    display: flex;
    border-left: 1px solid #e88c20;
    background-color: #e88c20;
    color: #282828;
}

.HighlightedTile > a {
    color: #282828;
    height: 75px;
    width: 100px;    
}

.mobileMenu {
    display: none;
}

a {
    text-decoration: none;
}

@media (max-width: 48rem) {
    .Tile {
        display: none;
    }

    .mobileMenu {
        display: inline-block;
        padding: 1.5rem;
    }

    .deskLogo {
        display: none;
    }

    .mobileLogo {
        display: flex;
    }

    .backdrop {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.5);
    }

    .mobileGuildName {
        display: flex;
        margin: 0 2rem;
        color: #e88c20;
    }

    .NavigationBackground {
        align-items: center;
    }
}

