.baseContainer {
    background-color: #282828;
}

.NavigationBackground {
    display: flex;
    width: 100%;
    justify-content: center;

}

.Tile {
    height: 100%;
    width: 100px;
    border-left: 1px solid #e88c20;
    border-right: 1px solid #e88c20;
    color: #e88c20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 0.5rem;
}

a {
    text-decoration: none;
}

.Tile:hover, .Tile::selection {
    background-color: var(--tileBackgroundColorHover);
}
.Tile > a {
    color: #e88c20;
    text-decoration: none;
}

.Tiles {
    display: flex;
    flex-direction: row;
}

.Logo {
    margin-right: 10px;
}

.navbar {
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
}

.HighlightedTile {
    display: flex;
    border-left: 1px solid #e88c20;
    background-color: #e88c20;
    color: #282828;
}

.HighlightedTile > a {
    color: #282828;
    height: 75px;
    width: 100px;    
}

