:root {
    --imgWidth: 100px;
    --labelWidth: 150px;
    --emptyContainerWidth: 150px;
    --tileBackgroundColor: rgba(23, 50, 90, 0.2);
    --tileBackgroundColorHover: rgba(23, 50, 90, 0.4);
}
.container > .label {
    display: inline-block;
    font-weight: 600;
    width: var(--labelWidth);
    text-align: left;
    margin-right: 15px;
}

.container > .content {
    display: inline-block;
    width: calc(100% - var(--labelWidth) - 15px);
    text-align: left;
}

.application {
    text-align: center;
    margin: 50px;

}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.application-container:hover {
    background-color: var(--tileBackgroundColorHover);
}

.container {
    width: 50%;
}
.applications {
    height:90vh;
    overflow-y: scroll;
    color: white;
}

.img-container {
    width: var(--imgWidth);
    height: 100%;
    display: inline-block;
}

.empty-container {
    width: var(--emptyContainerWidth);
    height: 100%;
    display: inline-block;
}

.avatar {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.about-container {
    width: calc(100% - var(--imgWidth) - var(--emptyContainerWidth));
    display: inline-block;
}

.application-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tileBackgroundColor);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,1);
    padding: 15px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10px);
}